# note: to ignore folders you need to have /** after foldername
# just foldername wont work

.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
.github
personal/**
.travis.yml
dependencygraph.svg
#pycharm dir
.idea/**
# coverage output
.nyc_output/**
coverage/**
coverconfig.json
